body
{
	margin:0px;
	border:0px;
	/*overflow:hidden;*/
}
span
{
	position:fixed;	
}
.monkey
{
	position:relative;
	left:70%;
	color:green;
	font-size:240px;
	-webkit-animation: monkey 0.5s infinite  alternate; 
    animation: monkey 0.5s infinite  alternate;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes monkey
{
 	0%   	{top: -5%;}
    15%		{top: 0%;}
    25%  	{top: 5%;}
    35%  	{top: 05%;}
    45%	 	{top: 15;}
    55% 	{top: 25%;}
    65%  	{top: 35%;}
    75%  	{top: 45%;}
    85%		{top: 55;}
    95% 	{top: 65%;}
    100%	{top: 75%;}
}

/* Standard syntax */
@keyframes monkey
{
  	0%   	{top: -5%;}
    15%		{top: 0%;}
    25%  	{top: 5%;}
    35%  	{top: 05%;}
    45%	 	{top: 15;}
    55% 	{top: 25%;}
    65%  	{top: 35%;}
    75%  	{top: 45%;}
    85%		{top: 55;}
    95% 	{top: 65%;}
    100%	{top: 75%;}
}

.wolf
{
	position:relative;
	left:70%;
	color:orange;
	font-size:300px;
	-webkit-animation: wolf 0.5s infinite alternate; 
    animation: wolf 0.5s infinite alternate;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes wolf {
 	0%   	{top:  	-60%}
    15%		{top: 	-70%}
    25%  	{top: 	-80%}
    35%  	{top:	-90%}
    45%	 	{top: 	-100%}
    55% 	{top:	-110%}
    65%  	{top:	-120%}
    75%  	{top:	-140%}
    85%		{top: 	-160%}
    95% 	{top:	-180%}
    100%	{top:	-230%}
}

/* Standard syntax */
@keyframes wolf {
  	0%   	{top:  	-60%}
    15%		{top: 	-70%}
    25%  	{top: 	-80%}
    35%  	{top:	-90%}
    45%	 	{top: 	-100%}
    55% 	{top:	-110%}
    65%  	{top:	-120%}
    75%  	{top:	-140%}
    85%		{top: 	-160%}
    95% 	{top:	-180%}
    100%	{top:	-230%}
}


#bird
{
	color:pink;
	font-size:100px;
	position:fixed;
	top:300px;
	left:20%;
}
	/*-webkit-animation: bird 3s; 
    animation: bird 3s;

/* Chrome, Safari, Opera */
@-webkit-keyframes bird {
 	0%   	{top:  	0%}
    15%		{top: 	5%}
    25%  	{top: 	10%}
    35%  	{top:	20%}
    45%	 	{top: 	30%}
    55% 	{top:	40%}
    65%  	{top:	50%}
    75%  	{top:	60%}
    85%		{top: 	70%}
    95% 	{top:	80%}
    100%	{top:	90%}
}

/* Standard syntax */
@keyframes bird {
  	0%   	{top:  	0%}
    15%		{top: 	5%}
    25%  	{top: 	10%}
    35%  	{top:	20%}
    45%	 	{top: 	30%}
    55% 	{top:	40%}
    65%  	{top:	50%}
    75%  	{top:	60%}
    85%		{top: 	70%}
    95% 	{top:	80%}
    100%	{top:	90%}
}



#sky
{
	position: fixed;
	width:400%;
	height:20%;
	background-color:blue;
	-webkit-animation: travel 5s infinite; 
	animation: travel 5s infinite;
    -webkit-animation-iteration-count: ; /* Safari and Chrome */
    animation-iteration-count: ;
}

#forest
{
	position: fixed;
	width:400%;
	height:20%;
	top:80%;
	background-color:green;
	-webkit-animation: travel 2s infinite 3s; 
	animation: travel 2s infinite 3s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes travel {
 	0%   	{right: -100%;}
    15%		{right: -90%;}
    25%  	{right: -80%;}
    35%  	{right: -70%;}
    45%	 	{right: -65%;}
    55% 	{right: -55%;}
    65%  	{right: -45%;}
    75%  	{right: -35%;}
    85%		{right: -20%;}
    95% 	{right: -10%;}
    100%	{right: -0%;}
}

/* Standard syntax */
@keyframes travel {
  	0%   	{right: -200%;}
    5%		{right: -90%;}
    25%  	{right: -80%;}
    35%  	{right: -70%;}
    45%	 	{right: -65%;}
    55% 	{right: -55%;}
    65%  	{right: -45%;}
    75%  	{right: -35%;}
    85%		{right: -20%;}
    95% 	{right: -10%;}
    100%	{right: -0%;}
}
